In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce

In [ ]:
#dentaldf = pd.read_csv('../data/Smileon.2021.10.17.csv' , encoding = "latin-1", skiprows=2)
#dentaldf.head()
# -- this will no longer work because we changed the name of the dataframe --

In [ ]:
#need to use in order to get dataframe to work out
#smile = pd.read_csv('../data/Smileon.2021.10.17.csv' , encoding = "latin-1", skiprows=2)

In [45]:
#attempt to drop columns that have more than a certain number of empty rows, in this case you specify the amount after the minus
#i dropped the columns that had more than 3 empty rows (since there were only 5 rows initially)
sdental = dentaldf.dropna(thresh=len(sdental) - 3, axis=1)

In [46]:
sdental.head()

,CallReportNum,ReportVersion,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,EnteredByWorkerNum,EnteredOn,Reviewed,FeedbackStatus,OrgNum,Birth Year
0,93115324,SMILE ON 60+ Registration,9/30/2021 16:56,9/30/2021 16:57,1,3638169,123747,123747,9/30/2021 16:57,No,Not yet,51426,1960
1,93115188,SMILE ON 60+ Registration,9/30/2021 16:53,9/30/2021 16:53,0,4431194,123747,123747,9/30/2021 16:53,No,Not yet,51426,1959
2,93115081,SMILE ON 60+ Clinical,9/30/2021 16:50,9/30/2021 16:51,1,2941341,161979,161979,9/30/2021 16:51,No,Not yet,51426,1942
3,93115032,SMILE ON 60+ Clinical,9/30/2021 16:48,9/30/2021 16:49,1,3823933,161979,161979,9/30/2021 16:49,No,Not yet,51426,1960
4,93114968,SMILE ON 60+ Clinical,9/30/2021 16:46,9/30/2021 16:48,2,3348256,161979,161979,9/30/2021 16:48,No,Not yet,51426,1955

In [47]:
sdental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57860 entries, 0 to 57859
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CallReportNum         57860 non-null  int64
 1   ReportVersion         57860 non-null  object
 2   CallDateAndTimeStart  57860 non-null  object
 3   CallDateAndTimeEnd    57860 non-null  object
 4   CallLength            57860 non-null  int64
 5   CallerNum             57860 non-null  int64
 6   PhoneWorkerNum        57860 non-null  int64
 7   EnteredByWorkerNum    57860 non-null  int64
 8   EnteredOn             57860 non-null  object
 9   Reviewed              57860 non-null  object
 10  FeedbackStatus        57860 non-null  object
 11  OrgNum                57860 non-null  int64
 12  Birth Year            57860 non-null  object
dtypes: int64(6), object(7)
memory usage: 5.7+ MB

In [52]:
sdental.dropna()

,CallReportNum,ReportVersion,CallDateAndTimeStart,CallDateAndTimeEnd,CallLength,CallerNum,PhoneWorkerNum,EnteredByWorkerNum,EnteredOn,Reviewed,FeedbackStatus,OrgNum,Birth Year
0,93115324,SMILE ON 60+ Registration,9/30/2021 16:56,9/30/2021 16:57,1,3638169,123747,123747,9/30/2021 16:57,No,Not yet,51426,1960
1,93115188,SMILE ON 60+ Registration,9/30/2021 16:53,9/30/2021 16:53,0,4431194,123747,123747,9/30/2021 16:53,No,Not yet,51426,1959
2,93115081,SMILE ON 60+ Clinical,9/30/2021 16:50,9/30/2021 16:51,1,2941341,161979,161979,9/30/2021 16:51,No,Not yet,51426,1942
3,93115032,SMILE ON 60+ Clinical,9/30/2021 16:48,9/30/2021 16:49,1,3823933,161979,161979,9/30/2021 16:49,No,Not yet,51426,1960
4,93114968,SMILE ON 60+ Clinical,9/30/2021 16:46,9/30/2021 16:48,2,3348256,161979,161979,9/30/2021 16:48,No,Not yet,51426,1955
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57855,55627514,SMILE ON 60+ Clinical,8/1/2018 8:00,8/1/2018 8:08,8,2385621,118821,118821,8/21/2018 8:08,No,Seen,51426,1957
57856,67251452,SMILE ON 60+ Clinical,5/31/2018 8:27,5/31/2018 8:29,2,2631417,131347,131347,10/16/2019 8:29,No,Not yet,51426,1958
57857,53192452,SMILE ON 60+ Registration,5/23/2018 14:11,5/23/2018 14:11,0,-1,60132,60132,5/23/2018 14:12,No,Not needed,51426,1900
57858,67915561,SMILE ON 60+ Registration,5/15/2018 9:06,5/15/2018 9:10,4,3239813,128174,128174,11/6/2019 9:10,No,Not yet,51426,1958
57859,67251405,SMILE ON 60+ Clinical,5/10/2018 8:25,5/10/2018 8:26,1,2631417,131347,131347,10/16/2019 8:26,No,Not yet,51426,1958

In [54]:
#this drops all rows with empty
newdental = sdental.dropna(axis=1, how='all')
newdental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57860 entries, 0 to 57859
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CallReportNum         57860 non-null  int64
 1   ReportVersion         57860 non-null  object
 2   CallDateAndTimeStart  57860 non-null  object
 3   CallDateAndTimeEnd    57860 non-null  object
 4   CallLength            57860 non-null  int64
 5   CallerNum             57860 non-null  int64
 6   PhoneWorkerNum        57860 non-null  int64
 7   EnteredByWorkerNum    57860 non-null  int64
 8   EnteredOn             57860 non-null  object
 9   Reviewed              57860 non-null  object
 10  FeedbackStatus        57860 non-null  object
 11  OrgNum                57860 non-null  int64
 12  Birth Year            57860 non-null  object
dtypes: int64(6), object(7)
memory usage: 5.7+ MB

In [ ]:
#should have about 149, drop anything 'unused' to start

In [ ]:
#drops specific rows?
#smileon_df.drop(smileon_df.columns[[2,8, 9, 10, 11, 12, 13, 14, 15, 21, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 35, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 49, 55, 57]], axis = 1, inplace = True)

In [ ]:
#mod_smileon_df = smileon_df.dropna(axis=1, how='all')
#drops rows?

In [ ]:
# smileon.columns = [x.replace('current', 'replacement') for x in smileon.columns]
#to replace

In [ ]:
# erins code 
#smile_on.columns = smile_on.columns.str.replace(r'SMILE ON 60\+ ', '')
smile_on.columns = smile_on.columns.str.replace('Oral Care Encounter - ', 'oec_')
smile_on.columns = smile_on.columns.str.replace(' - Quantity', '')